$borderColor: 4px solid green;

@mixin display_flex_row {
  display: flex;
  flex-direction: row;
}

@mixin display_flex_column {
  display: flex;
  flex-direction: column;
}

.animeInfo_card_container {
  @include display_flex_column();
}

.animeInfo_card_item {
  border: 5px solid royalblue;
  box-shadow: 5px 5px greenyellow;
  // height: 90vh;

  .animeInfo_card_rate_info {
    @include display_flex_row();
    justify-content: space-around;
    border: 5px solid firebrick;

    // flex-direction: row;
  }

  h3 {
    // text-align: center;
  }

  img {
    // display: flex;
    // flex-direction: row;
    // align-self: center;
    // height: 100%;
    // width: 100%;
  }
}
