$fontSize: 18px;

@mixin display_flex_row {
  display: flex;
  flex-direction: row;
}

@mixin display_flex_column {
  display: flex;
  flex-direction: column;
}

.anime_card_container {
  @include display_flex_column();
  margin-top: 10px;
  font-size: $fontSize;

  .anime_card_item {
    margin: auto;
    margin-bottom: 2rem;

    h3 {
      text-align: center;
    }

    img {
      height: 30rem;
      width: 30rem;
    }

    .anime_card_rate {
      @include display_flex_row();
      justify-content: space-between;
    }

    &:hover {
      background-color: lightskyblue;
      cursor: pointer;
    }
  }
}
